@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>
<br />
<br />
<form asp-action="Create">
    <div asp-validation-summary="All"></div>
    
    <partial name="PartialViews/CreateEditEmployeePartialView " model="Model" />

    <br />
    <br />
    <a asp-action="Create" asp-route-id="@Model.Id" class="btn btn-warning" />Create</a>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section Validation{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
    

