@using Company.MVC.Demo.ViewModels
@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>
<br />
<br />
<form asp-action="Delete">
    <div asp-validation-summary="All"></div>
    <partial name="PartialViews/DeleteDetailsEmployeePartialView " model="Model" />
    <br />
    <br />
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />Delete<a/>
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>

