@model Employee
@{
    ViewData["Title"] = "Details";
}

<h1>Employee Details</h1>
<br />
<br />
<div>
    <partial name="PartialViews/DeleteDetailsEmployeePartialView " model="Model" />
    <br />
    <br />
    <input type="submit" value="Edit" class="btn btn-danger" />
    <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>
</div>


